<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cursos de Programación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explora Nuestros Cursos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="curso-lista">
    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-label>
          <h2>{{ curso.titulo }}</h2>
          <p>{{ curso.descripcion }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
