<ion-content class="presentation-content" fullscreen>
  <div class="flex flex-col items-center justify-center min-h-screen">
    <!-- Título -->
    <h1>KidCode</h1>

    <!-- Imagen del ícono -->
    <div class="image-container">
      <img src="https://cdn.usegalileo.ai/sdxl10/85c29e24-9347-42a3-b497-4cdcb269af3b.png" class="image" />
    </div>

    <!-- Subtítulo -->
    <p class="subtitle">¡Descubre el mundo de la programación!</p>

    <!-- Botón de Comenzar -->
    <ion-button expand="block" class="button-start" (click)="goToLogin()">Comenzar</ion-button>
  </div>
</ion-content>
