<ion-content class="bg-gradient-to-r" fullscreen>
  <div class="flex flex-col items-center justify-center min-h-screen bg-[#fcfbf8]">

    <!-- Icono de flecha hacia atrás -->
    <ion-icon name="arrow-back-outline" class="icon-back" (click)="goBack()"></ion-icon>

    <!-- Título de bienvenida -->
    <h2>Bienvenido SuperProgramador!</h2>

    <!-- Imagen superior -->
    <div class="image-container">
      <img src="https://cdn.usegalileo.ai/sdxl10/85c29e24-9347-42a3-b497-4cdcb269af3b.png" class="image" />
    </div>

    <!-- Input de usuario -->
    <ion-item class="input-item">
      <ion-input placeholder="usuario" [(ngModel)]="email" class="input-background"></ion-input>
    </ion-item>

    <!-- Input de contraseña -->
    <ion-item class="input-item">
      <ion-input type="password" placeholder="contraseña" [(ngModel)]="password" class="input-background"></ion-input>
    </ion-item>

    <!-- Enlace de ayuda -->
    <p class="link-help">¿No lo recuerdas? Pregúntale a tus padres!</p>

    <!-- Botones de inicio de sesión y registro -->
    <div class="button-container">
      <ion-button expand="full" (click)="handleSubmit()">Iniciar Sesión</ion-button>
      <ion-button expand="block" class="button-sign-up">Inscribirse</ion-button>
    </div>
  </div>
</ion-content>
